<h2 class="head float-l">Details for {{$ctrl.member.name}}</h2>
<a class="top-back-button" href="/#!/members">Back to all members</a>
<table class="table member-view">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    </thead>
    <tr>
        <td>{{$ctrl.member.contact.name}}</td>
        <td>{{$ctrl.member.contact.email}}</td>
        <td>{{$ctrl.member.contact.phone}}</td>
    </tr>
</table>

